---
import { ReactGaleria } from "../../components/ReactGaleria";
import GaleriaLayout from "../../layouts/GaleriaLayout.astro";
export function getStaticPaths() {
  return [
    { params: { id: "bahia01" } },
    { params: { id: "casali00" } },
    { params: { id: "casali01" } },
    { params: { id: "casali02" } },
    { params: { id: "casali03" } },
    { params: { id: "casali04" } },
    { params: { id: "casali05" } },
    { params: { id: "iagro01" } },
    { params: { id: "mini01" } },
  ];
}

const { id } = Astro.params;
---

<GaleriaLayout title="RM | Galeria">
  <section class="w-full h-screen mx-auto sm:flex items-center">
    <ReactGaleria client:only id={id} />
  </section>
</GaleriaLayout>
