---
import { trabajos } from "../../trabajos";
import { ReactGaleria } from "../../components/ReactGaleria";
import GalTourLayout from "../../layouts/GalTourLayout.astro";
export function getStaticPaths() {
  const idsWithTour = Object.entries(trabajos)
    .map(([id, data]) => (data.galeria.length !== 0 ? id : null))
    .filter((id) => id !== null);

  const paramsIds = idsWithTour.map((id) => {
    return { params: { id } };
  });

  return paramsIds;
}

const { id } = Astro.params;
---

<GalTourLayout title="RM | Galeria">
  <section class="w-full h-screen mx-auto sm:flex items-center">
    <ReactGaleria client:only id={id} />
  </section>
</GalTourLayout>
