---
import Layout from "../layouts/Layout.astro";
import Galeria from "../components/Gallery/Galeria.astro";

const galleryIndex = [
  "Casali1",
  "Casali2",
  "Casali3",
  "Casali4",
  "Obra1",
  "IAGRO",
  "Minimalismo",
];

const gallery = {
  Casali1: {
    nombre: "Casali Propiedades",
    fotos: [
      "/assets/360.svg",
      "/assets/gallery/casali1/casaliprop1.webp",
      "/assets/gallery/casali1/casaliprop2.webp",
      "/assets/gallery/casali1/casaliprop3.webp",
      "/assets/gallery/casali1/casaliprop4.webp",
      "/assets/gallery/casali1/casaliprop5.webp",
      "/assets/gallery/casali1/casaliprop6.webp",
      "/assets/gallery/casali1/casaliprop7.webp",
    ],
  },
  Casali2: {
    nombre: "Casali Propiedades",
    fotos: [
      "/assets/360.svg",
      "/assets/gallery/casali2/casaliprop1.webp",
      "/assets/gallery/casali2/casaliprop2.webp",
      "/assets/gallery/casali2/casaliprop3.webp",
      "/assets/gallery/casali2/casaliprop4.webp",
      "/assets/gallery/casali2/casaliprop5.webp",
      "/assets/gallery/casali2/casaliprop6.webp",
      "/assets/gallery/casali2/casaliprop7.webp",
    ],
  },
  Casali3: {
    nombre: "Casali Propiedades",
    fotos: [
      "/assets/360.svg",
      "/assets/gallery/casali3/casaliprop01.webp",
      "/assets/gallery/casali3/casaliprop02.webp",
      "/assets/gallery/casali3/casaliprop03.webp",
      "/assets/gallery/casali3/casaliprop04.webp",
      "/assets/gallery/casali3/casaliprop05.webp",
      "/assets/gallery/casali3/casaliprop06.webp",
      "/assets/gallery/casali3/casaliprop07.webp",
      "/assets/gallery/casali3/casaliprop08.webp",
      "/assets/gallery/casali3/casaliprop09.webp",
      "/assets/gallery/casali3/casaliprop10.webp",
      "/assets/gallery/casali3/casaliprop11.webp",
      "/assets/gallery/casali3/casaliprop12.webp",
    ],
  },
  Casali4: {
    nombre: "Casali Propiedades",
    fotos: [
      "/assets/360.svg",
      "/assets/gallery/casali4/casaliprop01.webp",
      "/assets/gallery/casali4/casaliprop02.webp",
      "/assets/gallery/casali4/casaliprop03.webp",
      "/assets/gallery/casali4/casaliprop04.webp",
      "/assets/gallery/casali4/casaliprop05.webp",
      "/assets/gallery/casali4/casaliprop06.webp",
      "/assets/gallery/casali4/casaliprop07.webp",
      "/assets/gallery/casali4/casaliprop08.webp",
      "/assets/gallery/casali4/casaliprop09.webp",
      "/assets/gallery/casali4/casaliprop10.webp",
      "/assets/gallery/casali4/casaliprop11.webp",
      "/assets/gallery/casali4/casaliprop12.webp",
      "/assets/gallery/casali4/casaliprop13.webp",
      "/assets/gallery/casali4/casaliprop14.webp",
      "/assets/gallery/casali4/casaliprop15.webp",
    ],
  },
  Obra1: {
    nombre: "Avance de Obra",
    fotos: [
      "/assets/360.svg",
      "/assets/gallery/obra/obra1.webp",
      "/assets/gallery/obra/obra2.webp",
      "/assets/gallery/obra/obra3.webp",
      "/assets/gallery/obra/obra4.webp",
      "/assets/gallery/obra/obra5.webp",
      "/assets/gallery/obra/obra6.webp",
      "/assets/gallery/obra/obra7.webp",
    ],
  },
  IAGRO: {
    nombre: "I.A.G.R.O. Inmobiliaria",
    fotos: [
      "/assets/360.svg",
      "/assets/gallery/IAGRO/iagro1.webp",
      "/assets/gallery/IAGRO/iagro2.webp",
      "/assets/gallery/IAGRO/iagro3.webp",
    ],
  },
  Minimalismo: {
    nombre: "Minimalismo",
    fotos: [
      "/assets/360.svg",
      "/assets/gallery/Minimalismo/minimal1.webp",
      "/assets/gallery/Minimalismo/minimal2.webp",
      "/assets/gallery/Minimalismo/minimal3.webp",
      "/assets/gallery/Minimalismo/minimal4.webp",
      "/assets/gallery/Minimalismo/minimal5.webp",
      "/assets/gallery/Minimalismo/minimal6.webp",
      "/assets/gallery/Minimalismo/minimal7.webp",
    ],
  },
};
---

<Layout title="Galleria">
  <section class="w-[75vw] mx-auto">
    {
      galleryIndex.map((index) => (
        <Galeria
          fotos={gallery[index].fotos}
          alt={`${gallery[index].nombre}`}
        />
      ))
    }
    <div class="w-full my-16 grid justify-center">
      <a
        class="px-6 py-3 rounded-3xl text-xl font-semibold bg-blue-400 text-white"
        href="/">Inicio</a
      >
    </div>
  </section>
</Layout>

<style></style>
