---
import Layout from "../layouts/Layout.astro";
import Galerias from "../components/Gallery/Galerias.astro";
---

<Layout title="Galleria">
  <section>
    <Galerias />
    <a
      class="px-6 py-3 rounded-3xl text-xl font-semibold bg-blue-400 text-white"
      href="/">Inicio</a
    >
  </section>
</Layout>

<style></style>
