---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Home/01_Hero.astro";
import Trabajos from "../components/Home/02_Trabajos.astro";
import Experiencia from "../components/Home/03_Experiencia_.astro";
import Foot_Buttons from "../components/Home/04_Foot_Buttons.astro";
---

<Layout title="Rodrigo Mose">
	<section class="w-[75vw] mx-auto">
		<Foot_Buttons />
		<Hero />
		<Trabajos />
		<Experiencia />
		<Foot_Buttons />
	</section>
</Layout>

<style></style>
