---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Video">
  <section class="w-[75vw] mx-auto">
    {}
    <div class="w-full my-16 grid justify-center">
      <a
        class="px-6 py-3 rounded-3xl text-xl font-semibold bg-blue-400 text-white"
        href="/">Inicio</a
      >
    </div>
  </section>
</Layout>

<style></style>
