---
import LinkBtn from "../LinkBtn.astro";
---

<article class="h-[75vh] flex justify-center items-center relative">
  <div class="relative w-[40%] h-full">
    <div class="w-full h-full">
      <h1 class="absolute top-[48%] -translate-y-1/2 text-[7rem] -left-1">
        Rodrigomphotos
      </h1>
      <h2
        class="w-max text-3xl font-medium border-t-2 border-[#a0a0a0] pt-2 tracking-wide absolute bottom-1/3"
      >
        Fotografía Arquitectónica
      </h2>

      <LinkBtn
        href="/contact"
        text="Contacto"
        className="absolute bottom-[20%]"
      />
    </div>
  </div>
  <picture class="h-full w-[60%]">
    <img
      class="h-full w-full object-cover rounded-lg"
      src="/assets/hero.webp"
      alt="portada 1"
    />
  </picture>
</article>
