---
const trabajos = [
  {
    alt: "Punto Alem eventos",
    title: "Punto_Alem_eventos",
    src: "/assets/trabajos/punto_alem.svg",
  },
  {
    alt: "Hotel Orion",
    title: "Hotel_Orion",
    src: "/assets/trabajos/hotel_orion.svg",
  },
  {
    alt: "Moto Manía",
    title: "Moto_Mania",
    src: "/assets/trabajos/moto_mania.svg",
  },
  {
    alt: "Dexter",
    title: "Dexter",
    src: "/assets/trabajos/dexter.svg",
  },
  {
    alt: "Top5",
    title: "Top5",
    src: "/assets/trabajos/top5.svg",
  },
  {
    alt: "Top6",
    title: "Top6",
    src: "/assets/trabajos/top6.svg",
  },
  {
    alt: "Casali",
    title: "Casali",
    src: "/assets/trabajos/casali.svg",
  },
  {
    alt: "Varoba",
    title: "Varoba",
    src: "/assets/trabajos/varoba.svg",
  },
  {
    alt: "Alba Garcia",
    title: "Alba_Garcia",
    src: "/assets/trabajos/alba_garcia.svg",
  },
  {
    alt: "IAGRO",
    title: "IAGRO",
    src: "/assets/trabajos/iagro.svg",
  },
  {
    alt: "Ragazzi",
    title: "Ragazzi",
    src: "/assets/trabajos/ragazzi.svg",
  },
  {
    alt: "Teknomania",
    title: "Teknomania",
    src: "/assets/trabajos/teknomania.svg",
  },
  {
    alt: "Atila",
    title: "Atila",
    src: "/assets/trabajos/atila.svg",
  },
];
---

<article class="mt-36 w-full">
  <h2 class="text-3xl w-full py-4 my-8 border-b-2 border-black font-extrabold">
    Trabajos
  </h2>
  <div class="grid grid-cols-5 gap-6 justify-items-center">
    {
      trabajos.map((trabajo) => (
        <picture class="border border-gray-300 rounded-xl my-shadow-outline overflow-hidden cursor-pointer">
          <img
            class="w-full h-full object-cover"
            src={trabajo.src}
            alt={trabajo.alt}
          />
        </picture>
      ))
    }
  </div>
</article>

<style></style>
