---
const links = [
  { text: "Galeria de Imágenes", src: "/gallery" },
  { text: "Tours Virtuales", src: "/tours" },
  { text: "Videos 360", src: "/videos" },
  { text: "Contacto", src: "/contact" },
];
---

<article class="my-16">
  <ul class="flex justify-center gap-4">
    {
      links.map((link) => (
        <li>
          <a
            href={link.src}
            class="px-6 py-3 rounded-3xl text-xl font-semibold bg-blue-400 text-white "
          >
            {link.text}
          </a>
        </li>
      ))
    }
  </ul>
</article>
