---
import LinkBtn from "../LinkBtn.astro";
const links = [
  { text: "Galeria de Imágenes", src: "/gallery" },
  { text: "Tours Virtuales", src: "/tours" },
  { text: "Videos 360", src: "/videos" },
  { text: "Contacto", src: "/contact" },
];
---

<article class="my-16">
  <ul class="flex justify-center gap-4">
    {
      links.map(({ src, text }) => (
        <li>
          <LinkBtn href={src} text={text} />
        </li>
      ))
    }
  </ul>
</article>
