---
import { trabajos } from "../trabajos";

const empresas = [
  "alem01",
  "orion01",
  "moto01",
  "dexter01",
  "top501",
  "top601",
  "casali00",
  "bahia01",
  "varoba01",
  "alba01",
  "iagro01",
  "ragazzi01",
  "tekno01",
  "atila01",
];
---

<section class="mt-36 w-full">
  <h2
    class="text-4xl sm:text-3xl w-full py-4 my-8 border-b border-gray-500 font-extrabold"
  >
    Empresas
  </h2>
  <div class="grid grid-cols-4 sm:grid-cols-5 gap-6 justify-items-center">
    {
      empresas.map((id) => (
        <a href={`#${id}`}>
          <picture class="border border-gray-300 rounded-xl my-shadow-outline overflow-hidden cursor-pointer">
            <img
              class="w-full h-full object-cover hover:scale-110 transition-transform duration-500"
              src={trabajos[id].logo}
              alt={`imagen o logo de ${id}`}
              loading="lazy"
              decoding="async"
            />
          </picture>
        </a>
      ))
    }
  </div>
</section>
