---
import RevealLeft from "./animation/RevealLeft.astro";
const { array, title } = Astro.props;
---

<section class="sm:w-1/2 my-20 sm:my-0">
  <h3
    class="py-4 my-4 mr-6 font-semibold text-4xl sm:text-3xl border-b border-gray-500"
  >
    {title}
  </h3>
  <ul class="ml-8">
    {
      array.map((element) => (
        <li class="font-medium text-[1.5rem] list-disc my-2 pl-4 text-gray-600">
          {element}
        </li>
      ))
    }
  </ul>
</section>
