---
import PhoneSvg from "../components/icons/PhoneSvg.astro";
import MailSvg from "../components/icons/MailSvg.astro";
import FacebookSvg from "../components/icons/FacebookSvg.astro";
import InstagramSvg from "../components/icons/InstagramSvg.astro";
import WhatsappSvg from "../components/icons/WhatsappSvg.astro";
import ContactPill from "../components/ContactPill.astro";
---

<section class="w-full mt-4 mb-40 sm:mt-[30vh] flex justify-center">
  <div>
    <div class="sm:flex justify-center items-center sm:h-[70vh]">
      <picture class="sm:h-full sm:w-1/2">
        <img
          class="w-full h-full object-cover rounded-lg"
          src="/assets/contact1.webp"
          alt="contact 1 image"
          loading="lazy"
          decoding="async"
        />
      </picture>
      <!-- LADO DERECHO -->
      <div
        class="w-full sm:w-1/2 sm:h-full flex flex-col justify-between items-center gap-4 sm:gap-0"
      >
        <!-- FRASE -->
        <p
          id="contact"
          class="font-medium leading-relaxed text-3xl sm:text-2xl px-8 pt-16 pb-4 sm:p-0 sm:px-12 text-pretty"
        >
          "Me fascina mi trabajo e intento transmitir esta pasión en cada uno de
          los proyectos que realizo"
        </p>

        <!-- IMAGEN -->
        <div class="h-[200px] sm:h-1/2 my-8 flex justify-center gap-8 sm:gap-4">
          <picture class="">
            <img
              class="w-full h-full object-cover"
              src="/assets/contact2.webp"
              alt="contact 2 image"
              loading="lazy"
              decoding="async"
            />
          </picture>

          <!-- SOCIALS -->
          <div class="flex flex-col justify-center items-center gap-8">
            <a
              title="facebook"
              target="_blank"
              href="https://www.facebook.com/rodrigomose"
            >
              <FacebookSvg
                class="size-16 sm:size-10 text-[#555] hover:text-my-primary hover:scale-110 transition-transform"
              />
            </a>

            <a
              title="instagram"
              target="_blank"
              href="https://www.instagram.com/rodrigomphotos/"
            >
              <InstagramSvg
                class="size-16 sm:size-11 text-[#555] hover:text-my-primary hover:scale-110 transition-transform"
              />
            </a>

            <a
              title="whatsapp"
              target="_blank"
              href="https://wa.me/+5492915046309"
            >
              <WhatsappSvg
                class="size-[3.5rem] sm:size-10 text-[#555] hover:text-my-primary hover:scale-110 transition-transform"
              />
            </a>
          </div>
        </div>

        <!-- PHONES -->
        <div
          class="w-full flex flex-col sm:flex-row justify-center items-center gap-6 sm:gap-16"
        >
          <a
            title="whatsapp"
            target="_blank"
            href="https://wa.me/+5492915046309"
          >
            <div
              class="relative text-lg text-my-white hover:text-my-primary hover:scale-105 transition-transform"
            >
              <PhoneSvg
                class="absolute -left-6 -top-[0.6rem] size-11 sm:size-10 border-2 border-my-body rounded-full p-1 bg-[#444]"
              />
              <span
                class="text-xl sm:text-lg text-my-white bg-[#444] pr-4 pl-6 pb-1 pt-2 rounded-xl hover:text-my-primary transition-colors"
                >291-5046309</span
              >
            </div>
          </a>

          <a
            title="whatsapp"
            target="_blank"
            href="https://wa.me/+5492914319025"
          >
            <div
              class="relative text-lg text-my-white hover:text-my-primary hover:scale-105 transition-transform"
            >
              <PhoneSvg
                class="absolute -left-6 -top-[0.6rem] size-11 sm:size-10 border-2 border-my-body rounded-full p-1 bg-[#444]"
              />
              <span
                class="text-xl sm:text-lg text-my-white bg-[#444] pr-4 pl-6 pb-1 pt-2 rounded-xl hover:text-my-primary transition-colors"
                >291-4319025</span
              >
            </div>
          </a>
        </div>

        <!-- DESK MAIL -->
        <div class="w-full justify-center hidden sm:flex">
          <a
            href="https://mail.google.com/mail/u/0/?fs=1&to=rodrigomm.81@gmail.com&su=&body=&bcc=&tf=cm"
            title="mail_de_la_empresa"
            target="_blank"
          >
            <div
              class="relative text-lg text-my-white hover:text-my-primary hover:scale-105 transition-transform"
            >
              <MailSvg
                class="absolute -left-6 -top-[0.4rem] size-11 sm:size-10 border-2 border-my-body rounded-full p-1 bg-[#444]"
              />
              <span
                class="text-my-white bg-[#444] pr-4 pl-6 py-2 rounded-xl hover:text-my-primary transition-colors"
                >rodrigomm.81@gmail.com</span
              >
            </div>
          </a>
        </div>

        <!-- MOVIL MAIL -->
        <div class="w-full flex justify-center mt-8 sm:hidden">
          <a
            href="mailto:rodrigomm.81@gmail.com"
            title="mail_de_la_empresa"
            target="_blank"
          >
            <div
              class="relative text-lg text-my-white hover:text-my-primary hover:scale-105 transition-transform"
            >
              <MailSvg
                class="absolute -left-6 -top-[0.4rem] size-11 sm:size-10 border-2 border-my-body rounded-full p-1 bg-[#444]"
              />
              <span
                class="text-2xl text-my-white bg-[#444] pr-4 pl-6 py-2 rounded-xl hover:text-my-primary transition-colors"
                >rodrigomm.81@gmail.com</span
              >
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
