---
const header = {
  logoImg: "/assets/firmablack.webp",
  logoText: "",
  links: [
    {
      text: "Galería",
      route: "/#gallery",
    },
    {
      text: "Tours",
      route: "/#tours",
    },
    {
      text: "Contacto",
      route: "/#contact",
    },
  ],
};
---

<header
  class="px-4 sm:px-16 py-3 flex justify-between items-center shadow fixed top-0 left-0 w-full h-[3.5rem] bg-my-body z-40"
>
  <a
    href="/"
    class="flex justify-center itmes-center gap-4 hover:bg-my-primary"
  >
    {
      header.logoImg && (
        <picture class="h-8">
          <img
            class="h-full w-full object-cover"
            src={header.logoImg}
            alt="firma empresa"
            loading="lazy"
            decoding="async"
          />
        </picture>
      )
    }
    {header.logoText && <span class="pt-[3px]">{header.logoText}</span>}
  </a>
  <nav class="flex gap-4 text-lg font-semibold">
    {
      header.links.map((link) => (
        <a class="hover:text-my-primary" href={link.route}>
          {link.text}
        </a>
      ))
    }
  </nav>
</header>

<style>
  .shadow {
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  }
  .link-active {
    text-shadow: 0 0 5px #55afbb;
  }
</style>
