---

---

<header
  class="px-16 py-3 flex justify-between items-center border-b border-black fixed top-0 w-full bg-white z-40"
>
  <picture class="h-8">
    <img
      class="h-full w-full object-cover"
      src="/assets/firmablack.webp"
      alt="firma empresa"
    />
  </picture>
  <nav>
    <ul class="flex gap-4 text-lg font-semibold">
      <li><a href="/">Inicio</a></li>
      <li><a href="/gallery">Galería</a></li>
      <li><a href="/tours">Tours</a></li>
      <li><a href="/videos">Videos</a></li>
      <li><a href="/contact">Contacto</a></li>
    </ul>
  </nav>
</header>
