---
const header = {
  logoImg: "/assets/logo.svg",
  logoText: "",
  links: [
    {
      text: "Galería",
      route: "/#gallery",
    },
    {
      text: "Tour",
      route: "/tourInfo",
    },
    {
      text: "Contacto",
      route: "/#contact",
    },
  ],
};

// " animate-fade-down animate-once animate-duration-[1000ms] animate-ease-out animate-delay-[750ms]"
---

<header
  class="px-6 sm:px-16 py-3 flex justify-between items-center fixed top-0 left-0 w-full h-header-movil sm:h-header-desktop bg-my-body z-40 shadow-my-shadow"
>
  <a
    href="/"
    class="flex justify-center itmes-center gap-4 rounded-lg hover:bg-my-primary"
  >
    {
      header.logoImg && (
        <img
          class="h-12 sm:h-10 object-cover"
          src={header.logoImg}
          alt="firma empresa"
          loading="eager"
          decoding="async"
        />
      )
    }
    {header.logoText && <span class="pt-[3px]">{header.logoText}</span>}
  </a>
  <nav class="flex gap-12 text-xl font-semibold">
    {
      header.links.map((link) => (
        <a class="hover:text-my-primary" href={link.route}>
          {link.text}
        </a>
      ))
    }
  </nav>
</header>

<style>
  .link-active {
    text-shadow: 0 0 5px #55afbb;
  }
</style>
