---

---

<header
  class="px-16 py-3 flex justify-between items-center shadow fixed top-0 left-0 w-full h-[3.5rem] bg-my-body z-40"
>
  <picture class="h-8">
    <img
      class="h-full w-full object-cover"
      src="/assets/firmablack.webp"
      alt="firma empresa"
      loading="lazy"
      decoding="async"
    />
  </picture>
  <nav>
    <ul class="flex gap-4 text-lg font-semibold">
      <li><a class="hover:text-my-primary" href="#inicio">Inicio</a></li>
      <li>
        <a class="hover:text-my-primary" href="#gallery">Galería</a>
      </li>
      <li><a class="hover:text-my-primary" href="#tours">Tours</a></li>
      <li>
        <a class="hover:text-my-primary" href="#contact">Contacto</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  .shadow {
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  }
  .link-active {
    text-shadow: 0 0 5px #55afbb;
  }
</style>
