.card {}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: var(--body-bg);
  scale: 1.5;
  border-radius: 100%;
  filter: blur(15px) opacity(75%);
}

.label {
  border: 1px solid rgb(107, 114, 128, 0.5);
  border-top: none;
  border-radius: 0 0 1rem 1rem;
  background: #eee;
}

.spinner {
  perspective: 500px;
  animation: spin 1s linear infinite alternate;
}

@keyframes spin {
  to {
    transform: rotateY(90deg);
  }
}