---
const { tours, alt } = Astro.props;
---

<article class="mt-20">
  <div class="w-full flex justify-between items-center">
    <h2 class="text-3xl font-semibold py-4">{alt}</h2>
    <span class="border-b-2 border-black flex-1 ml-4"></span>
  </div>
  <div class="grid grid-cols-5 gap-4">
    {
      tours.map((foto, index) => (
        <picture class="border border-gray-300 rounded-xl my-shadow-outline overflow-hidden relative">
          <img
            class="w-full h-full object-cover"
            src={foto}
            alt="foto"
            title={`${alt} ${index + 1}`}
          />
        </picture>
      ))
    }
  </div>
</article>

<style>
  picture::before {
    position: absolute;
    content: "Ver 360ยบ";
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: bold;
    font-size: 2rem;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    transition:
      background 0.35s ease,
      color 0.35s ease;
  }
  picture:hover::before {
    background: transparent;
    color: transparent;
  }
</style>
