---
import { trabajos } from "../../trabajos";
import Cancel from "../../components/icons/Cancel.astro";
export function getStaticPaths() {
  return [
    { params: { id: "bahia01" } },
    { params: { id: "orion01" } },

    { params: { id: "alem01" } },
    { params: { id: "top501" } },
    { params: { id: "top601" } },

    { params: { id: "casali00" } },
    { params: { id: "casali01" } },
    { params: { id: "casali02" } },
    { params: { id: "casali03" } },
    { params: { id: "casali04" } },
    { params: { id: "obra01" } },

    { params: { id: "moto01" } },
    { params: { id: "dexter01" } },
    { params: { id: "varoba01" } },
    { params: { id: "ragazzi01" } },
    { params: { id: "tekno01" } },
    { params: { id: "alba01" } },
    { params: { id: "atila01" } },
  ];
}

const { id } = Astro.params;
---

<section class="h-screen w-full relative">
  <div
    class="px-16 py-3 flex justify-between items-center shadow fixed top-0 w-full bg-[#f8f8f8] z-40"
  >
    <picture class="h-8">
      <img
        class="h-full w-full object-cover"
        src="/assets/firmablack.webp"
        alt="firma empresa"
        loading="lazy"
        decoding="async"
      />
    </picture>
    <a href="/#tour-container">
      <Cancel class="w-8 h-8 cursor-pointer" />
    </a>
  </div>
  <iframe class="w-full h-full" src={trabajos[id].tour}></iframe>
</section>
